.brands {
    padding-top: 28px;

    @media (max-width: 768px) {
        max-width: 540px;
        margin: 0 auto;

        .seeMore {
            max-width: 100%;
        }
    }

    &__container {
        width: 100%;
        max-width: 1676px;
        margin: 0 auto;
        padding: 24px 24px 32px;
        border-radius: 12px;
        background: #E8E4E4;

        @media (max-width: 768px) {
            padding: 25px 10px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 16px 19px;
        margin-bottom: 56px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(3, auto);
            margin-bottom: 25px;
        }
    }

    &__link {
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 16px 24px;
        background: #fff;
        width: 100%;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            justify-content: center;
            max-width: 150px;
            padding: 16px 13px;
            gap: 12px;
        }

        &:hover &_img {
            transform: scale(1.05);
        }

        span {
            font-size: 22px;
            font-weight: 700;
            text-transform: uppercase;

            @media (max-width: 768px) {
                display: block;
                font-size: 14px;
                text-align: center;
            }
        }

        &_img {
            width: 48px;
            height: 48px;
            object-fit: contain;

            @media (max-width: 768px) {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__title {
        font-weight: 500;
        margin-bottom: 32px;

        @media (max-width: 768px) {
            font-size: 20px;
            font-weight: 700;
            text-align: center;
        }
    }
}