.footer {

    a:hover {
        color: #F62B02;
    }

    &__container {
        &.gray {
            background: #151515;
            position: relative;
            padding: 36px 0;



            &::before {
                content: '';
                display: block;
                width: 50%;
                height: 7px;
                background: #F62B02;
                position: absolute;
                top: -7px;
                left: 0;
            }

            &::after {
                content: '';
                display: block;
                width: 50%;
                height: 7px;
                position: absolute;
                top: -7px;
                left: 50%;
                background: #0080E5;
            }
        }

        &.black {
            background: #000;
        }
    }

    &__wrapper {
        width: 100%;
        max-width: 1380px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__menu {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 15px;



        &_el {
            &_title {
                height: 40px;
                margin-bottom: 20px;
                font-weight: 500;
                text-transform: uppercase;
                max-width: 170px;
                color: #fff;
            }

            &_list {
                display: grid;
                gap: 12px;

                &_link {
                    font-size: 12px;
                    color: #FFFFFF99;
                    font-weight: 400;
                }
            }
        }
    }


    &__bankList {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #FFFFFF80;
        gap: 15px;

        &_link {
            display: block;
            padding: 28px 0;

            &:hover img {
                transform: scale(1.2);
            }
        }
    }

    &__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 34px 0 20px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__desc {
        width: fit-content;
        max-width: 490px;

        &_title {
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 12px;
            color: #fff;
        }

        &_txt {
            font-size: 12px;
            font-weight: 400;
            color: #FFFFFF80;
        }

        &_social {

            &_list {
                display: flex;
                gap: 18px;
                margin-bottom: 16px;
            }

            &_link,
            &_txt {
                font-weight: 400;
                font-size: 14px;
                color: #D9D9D9;
                margin-bottom: 6px;

                &.bold {
                    font-weight: 500;
                }
            }
        }
    }

    &__pic {
        width: 144px;

        &_txt {
            text-align: center;
            font-size: 10px;
            margin-top: 6px;
            color: #FFFFFF99;
        }
    }
}