.headerWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px 15px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
    }

    .seeMore {
        display: none;

        @media (max-width: 768px) {
            display: flex;
            min-width: 540px;
            margin-top: 24px;
        }
    }

    .seeMoreDesktop {
        display: block;
        font-size: 13px;
        font-weight: 500;
        color: #0080E5;
        margin-top: 18px;

        @media (max-width: 768px) {
            display: none;
        }
    }
    
    .headerSlider {
        position: relative;
        grid-column: 2 / 4;
        width: 100%;
        background: #E8E4E4;
        border-radius: 12px;
        padding: 20px;

        .swiper-wrapper {
            height: auto;
        }

        @media (max-width: 768px) {
            padding: 20px 2px 45px;
            background: none;
        }

        &__title {
            display: flex;
            align-items: center;
            gap: 12px;
            font-weight: 500;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                padding-left: 26px;
                font-size: 20px;
                font-weight: 700;
            }

            &_img {
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        &__btns {
            position: absolute;
            top: 14px;
            right: 13px;
            display: flex;
            gap: 9px;

            @media (max-width: 768px) {
                top: 4px;
                right: 26px;
            }

            &_btn {
                width: 43px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0.74px solid #0000004D;

                @media (max-width: 768px) {
                    width: 58px;
                    height: 48px;
                }

                &:hover {
                    border-color: #F62B02;
                }

                &.next img {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .headerFilter {
        background: #E8E4E4;
        border-radius: 12px;
        padding: 20px;

        @media (max-width: 768px) {
            margin: 20px 26px 50px;
            padding: 30px 25px;
        }

        .someLink {
            display: block;
            font-size: 13px;
            font-weight: 500;
            color: #0080E5;
            margin-top: 18px;
        }

        &__title {
            display: flex;
            align-items: center;
            gap: 12px;
            font-weight: 500;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                font-size: 20px;
                font-weight: 600;
                justify-content: space-between;
            }

            &_arr {
                display: none;

                @media (max-width: 768px) {
                    display: block;
                    width: 20px;
                }
            }
        }

        &__container {

            &_acc {
                
                @media (max-width: 768px) {
                    max-height: 0;
                    transition: .3s;
                    overflow: hidden;
                    margin-top: -20px;
                }
            }
        }

        &__search {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 16px;

            &_name {
                font-size: 26px;
                text-align: center;
                padding: 16px 20px;
                font-family: "Bebas Neue", sans-serif;
                font-weight: 600;
                background: #FFBD2F;
            }

            &_inp {
                width: 100%;
                background: #fff;
                padding: 21px 50px;
                color: #000;
                font-size: 18px;

                &::placeholder {
                    color: #7C7C7C80;
                }
            }

            &_btn {
                position: absolute;
                border-radius: 50%;
                padding: 10px;
                background: #E8E4E4;
                top: 12px;
                right: 12px;
                width: 39px;
                height: 39px;

                &:hover &_icon {
                    transform: scale(1.2);
                }
            }
        }

        &__submit {
            width: 100%;
            background: #1E1E1E;
            color: #fff;
            text-align: center;
            padding: 12px;
            font-size: 25px;
            text-transform: uppercase;
            font-family: "arm bebas neue", sans-serif;

            &:hover {
                background: #000;
            }
        }
    }
}