/* Подключение Montserrat Arm */
@font-face {
    font-family: "montserrat arm";
    src: url("../../fonts/montserratarm/Montserratarm-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserrat arm";
    src: url("../../fonts/montserratarm/Montserratarm-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserrat arm";
    src: url("../../fonts/montserratarm/Montserratarm-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserrat arm";
    src: url("../../fonts/montserratarm/Montserratarm-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserrat arm";
    src: url("../../fonts/montserratarm/Montserratarm-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserrat arm";
    src: url("../../fonts/montserratarm/Montserratarm-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserrat arm";
    src: url("../../fonts/montserratarm/Montserratarm-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserrat arm";
    src: url("../../fonts/montserratarm/Montserratarm-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "montserrat arm";
    src: url("../../fonts/montserratarm/Montserratarm-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "arm bebas neue";
    src: url("../../fonts/armbebas/armbebas.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    font-family: "montserrat arm", sans-serif;
    transition: .3s;
    box-sizing: border-box;

    &:hover {
        transition: .3s;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #EFEFEF;
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
}

button,
input,
textarea,
select {
    display: block;
    outline: none;
    border: none;
    background: none;
}

button,
select {
    cursor: pointer;
}

textarea {
    resize: none;
}

select {
    appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}



.product {
    width: 100%;
    max-width: 244px;
    position: relative;

    @media (max-width: 768px) {
        max-width: 290px;
        min-width: 290px;
    }

    &__pic {
        width: 100%;
        height: 186px;
        padding: 10px;
        background: #fff;
        border-radius: 6px 6px 0 0;
        overflow: hidden;

        @media (max-width: 768px) {
            height: 280px;
            width: 290px;
            border-radius: 36px;
            overflow: hidden;
        }

        &:hover &_img {
            transform: scale(1.1);
        }

        &_img {
            height: 100%;
            margin: 0 auto;
        }
    }

    &__wishlist {
        position: absolute;
        top: 10px;
        right: 13px;
        width: 27px;
        height: 25px;

        @media (max-width: 768px) {
            top: 16px;
            right: 32px;
            width: 35px;
            height: 32px;
        }

        &_icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 1;

            &.checked {
                opacity: 0;
            }
        }

        &.active &_icon {
            opacity: 0;

            &.checked {
                opacity: 1;
            }
        }
    }

    &__desc {
        padding: 10px;
        background: #EFEFEF;
        height: 120px;

        @media (max-width: 768px) {
            background: none;
            padding: 45px 25px 20px;
            height: 185px;
        }

        &_price {
            display: flex;
            align-items: center;
            gap: 20px;

            &_static {
                color: #000;
                opacity: 0.3;
                font-size: 22px;
                font-weight: 600;
                position: relative;

                @media (max-width: 768px) {
                    font-size: 24px;
                    line-height: 30px;
                }

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #000;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: rotate(-10deg);
                }

                .currency {
                    font-weight: 600;
                    font-size: 14px;
                    color: #000;
                }
            }

            &_new {
                color: #F62B02;
                font-size: 25px;
                font-weight: 600;

                @media (max-width: 768px) {
                    font-size: 32px;
                    line-height: 30px;
                }

                .currency {
                    font-weight: 600;
                    font-size: 16px;
                    color: #F62B02;
                }
            }
        }

        &_name,
        &_txt {
            display: -webkit-box;
            -webkit-line-clamp: 2; // кол-во строк
            -webkit-box-orient: vertical;
            overflow: hidden;

            // по желанию, чтобы было аккуратнее
            text-overflow: ellipsis;
        }

        &_name {
            margin: 5px 0 8px;
            font-weight: 500;

            @media (max-width: 768px) {
                font-size: 20px;
                line-height: 20px;
                font-weight: 700;
                margin: 8px 0;
            }
        }

        &_txt {
            font-size: 14px;
            color: #8F8F8F;

            @media (max-width: 768px) {
                font-size: 18px;
                line-height: 20px;
            }
        }
    }

    &__btn {
        background: #0080E5;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 12px;
        border-radius: 2px;
        width: 100%;

        @media (max-width: 768px) {
            border-radius: 20px;
            border: 2px solid #FFFBFB;
            width: 77px;
            height: 73px;
            position: absolute;
            top: 226px;
            right: 10px;
        }

        &:hover {
            background: #005fa8;
        }

        &_icon {
            width: 20px;

            @media (max-width: 768px) {
                width: 31px;
            }
        }

        &_txt {
            color: #fff;
            font-weight: 400;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}



.seeMore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 0 auto;
    width: 240px;
    padding: 14px;
    font-size: 14px;
    color: #0B2543;
    border: 0.86px solid #0B2543;

    &:hover {
        border-color: #F62B02;
    }
}