.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #efefef;
    box-shadow: 0px 1px 8.7px 0px #00000033;
    z-index: 1090;

    &__container {

        &.black {
            background: #000;
            padding: 6px 0;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1700px;
        padding: 0 15px;
        margin: 0 auto;

        &.bottom {
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    &__contacts {
        display: flex;
        gap: 30px;

        &_el {
            display: flex;
            align-items: center;
            gap: 12px;

            &_icon {
                width: 15px;
                height: auto;
            }

            &_link {
                color: #7C7C7C;
                font-size: 13px;
                font-weight: 500;

                &:hover {
                    color: #F73004;
                }
            }
        }
    }

    &__burger {

        #burger {
            width: 100%;
            background: #00000090;
            position: absolute;
            top: 0;
            z-index: 1100;
            left: -100%;
            transition: .3s;
            opacity: 0;

            &.active {
                left: 0;
                opacity: 1;
            }

            .burger {
                display: flex;
                width: 100%;
                height: 100%;

                &__menu {
                    position: relative;
                    z-index: 1200;
                }
                &__menu,
                &__submenu {
                    background: #fff;
                    width: 330px;
                    height: 100%;
                    max-height: 100%;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        background: #fff;
                        width: 9px;
                        border-radius: 20px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #AAAAAA;
                        width: 9px;
                        border-radius: 20px;
                    }

                    &_list {
                        min-height: fit-content;
                        padding: 13px;

                        &_link {
                            display: flex;
                            align-items: center;
                            border-radius: 8px;
                            padding: 8px 13px;

                            &_txt {
                                font-size: 16px;
                                font-weight: 400;
                                display: block;
                                margin-left: 24px;
                            }

                            &_arr {
                                display: block;
                                margin-left: auto;
                                opacity: 0;
                            }

                            &:hover,
                            &.active {
                                background: #E8E4E4;
                            }

                            &.active .burger__menu_list_link_arr,
                            &:hover .burger__menu_list_link_arr {
                                opacity: 1;
                            }
                        }
                    }
                }

                &__submenu {
                    position: absolute;
                    left: -100%;
                    transition: .5s;
                    z-index: 1100;
                    padding: 20px 13px;
                    height: fit-content;

                    &_title {
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 30px;
                        padding: 0 13px;
                    }

                    &_list {
                        padding: 0;

                        &_link {
                            padding: 13px;
                        }
                    }
                    &.active {
                        left: 330px;
                    }

                    &:hover {
                        left: 330px;
                    }
                }
            }
        }
    }

    &__lang {
        position: relative;

        &_btn {
            display: flex;
            align-items: center;
            background: #FFFFFF33;
            padding: 5px 6px;
            border-radius: 6px;
            gap: 6px;

            &:hover {
                background: #fff;
            }

            &_flag {
                width: 17px;
                height: 17px;
                border-radius: 50%;
            }

            &_txt {
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 500;
                color: #FFFFFF;
            }

            &:hover &_txt {
                color: #000;
            }
        }

        &_wrapper {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            border-radius: 8px;
            background: #fff;
            padding: 12px 14px;
            top: 35px;
            right: 0;
            width: 280px;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__search {
        width: 100%;
        max-width: 940px;
        position: relative;

        @media (max-width: 1296px) {
            max-width: 680px;
        }
        &_photo,
        &_loop {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            &:hover &_icon {
                transform: scale(1.1);
            }
        }

        &_photo {
            right: 19px;
        }

        &_loop {
            right: 64px;
        }

        &_inp {
            background: #fff;
            width: 100%;
            border-radius: 15px;
            padding: 21px 57px;
            font-size: 18px;
            appearance: none;

            @media (max-width: 1296px) {
                font-size: 16px;
            }
            &::placeholder {
                font-size: 18px;

                @media (max-width: 1296px) {
                font-size: 16px;
            }
            }
        }
    }

    &__controls {
        display: flex;
        align-items: flex-end;
        gap: 50px;

        @media (max-width: 1296px) {
            gap: 30px;
        }
        &_btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;

            &:hover &_icon {
                transform: scale(1.2);
            }

            &:hover &_txt {
                color: #F73004;
            }

            &_txt {
                font-size: 14px;
            }

            &_icon {
                height: 24px;
            }
        }
    }

    &__logo {

        &_img {
            @media (max-width: 1296px) {
                width: 100px;
            }
        }
    }
}