.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #efefef;
    box-shadow: 0px 1px 8.7px 0px #00000033;
    z-index: 1090;
    
    &__container {

        &.black {
            background: #000;
            padding: 6px 0;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1700px;
        padding: 0 15px;
        margin: 0 auto;

        &.bottom {
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    &__contacts {
        display: flex;
        gap: 30px;

        &_el {
            display: flex;
            align-items: center;
            gap: 12px;

            &_icon {
                width: 15px;
                height: auto;
            }

            &_link {
                color: #7C7C7C;
                font-size: 13px;
                font-weight: 500;

                &:hover {
                    color: #F73004;
                }
            }
        }
    }

    &__lang {
        position: relative;

        &_btn {
            display: flex;
            align-items: center;
            background: #FFFFFF33;
            padding: 5px 6px;
            border-radius: 6px;
            gap: 6px;

            &:hover {
                background: #fff;
            }

            &_flag {
                width: 17px;
                height: 17px;
                border-radius: 50%;
            }

            &_txt {
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 500;
                color: #FFFFFF;
            }

            &:hover &_txt {
                color: #000;
            }
        }

        &_wrapper {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            border-radius: 8px;
            background: #fff;
            padding: 12px 14px;
            top: 35px;
            right: 0;
            width: 280px;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__search {
        width: 100%;
        max-width: 940px;
        position: relative;

        &_photo,
        &_loop {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            &:hover &_icon {
                transform: scale(1.1);
            }
        }

        &_photo {
            right: 19px;
        }

        &_loop {
            right: 64px;
        }

        &_inp {
            background: #fff;
            width: 100%;
            border-radius: 15px;
            padding: 21px 57px;
            font-size: 18px;
            appearance: none;

            &::placeholder {
                font-size: 18px;
            }
        }
    }

    &__controls {
        display: flex;
        align-items: flex-end;
        gap: 50px;

        &_btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;

            &:hover &_icon {
                transform: scale(1.2);
            }
            &:hover &_txt {
                color: #F73004;
            }

            &_txt {
                font-size: 14px;
            }

            &_icon {
                height: 24px;
            }
        }
    }
}