
.news {
    padding: 90px 0 115px;

    @media (max-width: 768px) {
        padding: 80px 0 100px;
    }

    &__container {
        width: 100%;
        max-width: 1660px;
        margin: 0 auto;
        padding: 0 15px;

        @media (max-width: 768px) {
            padding: 0 25px;
        }
    }

    &__title {
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 50px;

        @media (max-width: 768px) {
            margin-bottom: 45px;
            text-align: left;
        }
    }

    &__wrapper {
        display: flex;
        gap: 15px;

        @media (max-width: 1296px) {
            align-items: flex-start;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__about {
        width: 100%;
        max-width: 410px;

        @media (max-width: 768px) {
            max-width: 100%;
        }

        &_title {
            color: #0B2543;
            font-size: 23px;
            font-weight: 700;
            text-transform: uppercase;

            @media (max-width: 768px) {
                font-size: 29px;
            }
        }

        &_txt {
            font-size: 14px;
            margin: 10px 0 20px;
            color: #0B2543;

            @media (max-width: 768px) {
                font-size: 18px;
                margin: 13px 0 25px;
            }
        }

        &_video {

            img,
            video {
                width: 100%;
                border-radius: 2px;
            }
        }
    }

    &__list {
        border-radius: 12px;
        background: #E8E4E4;
        padding: 12px 34px 26px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 100%;
        max-width: 1210px;

        @media (max-width: 1296px) {
            gap: 15px;
            border-radius: 0;
            padding: 12px 25px 25px;
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
        }

        &_el {

            @media (max-width: 768px) {
                padding: 5px 0;
            }

            &_logo {
                margin: 0 auto 10px;

                @media (max-width: 768px) {
                    margin-bottom: 25px;
                }
            }

            &_media {

                img,
                video {
                    width: 100%;
                    height: 230px;
                    object-fit: contain;

                    @media (max-width: 1296px) {
                        height: 150px;
                    }

                    @media (max-width: 768px) {
                        height: 300px;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            &_txt {
                font-size: 14px;
                margin: 16px 0 20px;
                color: #00305D;

                @media (max-width: 768px) {
                    font-size: 19px;
                    margin: 21px 0 30px;
                }
            }

            &_link {
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                gap: 10px;
                color: #0B2543;
                text-transform: uppercase;
                position: relative;

                @media (max-width: 768px) {
                    font-size: 19px;
                }

                &::before {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 80px;
                    border-top: 1px solid #0B2543;
                    position: absolute;
                    top: -6px;
                    left: 0;

                    @media (max-width: 768px) {
                        width: 108px;
                    }
                }
            }
        }
    }
}