.products {

    &__container {
        width: 100%;
        max-width: 1626px;
        margin: 0 auto;
        padding: 60px 15px 85px;

        @media (max-width: 768px) {
            padding: 50px 2px 120px;
        }
    }

    &__wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 30px 94px;
        margin-bottom: 78px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 4px;
            margin-bottom: 30px;
        }
    }

    &__title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 60px;
        font-weight: 500;

        @media (max-width: 768px) {
            font-weight: 700;
            margin-bottom: 30px;
        }
    }
}
