@import '../main';
@import '../footer';
@import '../navbar';
@import '../crumbs';
@import '../productSlider';
@import '../select';
@import '../contactUs';


.header {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 174px 15px 0;

    .crumbs {
        padding: 24px 0;
    }

    @media (max-width: 768px) {
        padding: 94px 26px 0;
    }
}

.container {
    display: grid;
    grid-template-columns: 54fr 112fr;
    gap: 35px;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 4px;
    }
}

.contactUs {
    padding: 34px 0 0;

    &__title {
        font-size: 15px;
        margin-bottom: 19px;
    }

    &__wrapper {
        padding: 20px 28px;
        border-radius: 0;
    }

    input,
    textarea {
        margin-bottom: 6px;
        font-size: 15px;

        &::placeholder {
            font-size: 15px;
        }
    }

    &__file {

        &_inner {
            min-height: 100px;
        }
    }

    &__submit {
        margin: 30px auto 0;
    }

    &__agree {
        margin: 20px 0;
    }
}

.filterToggleBtn {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 22px;
        right: 22px;
        z-index: 1040;
        background: #F62B02;
        width: 77px;
        height: 73px;
        border-radius: 19px;
        border: 2px solid #FFFFFF;
    }
}

.aside {

    .filter {
        padding: 22px 22px 33px;
        background: #E8E4E4;
        border-radius: 12px;

        @media (max-width: 768px) {
            position: fixed;
            left: 0;
            z-index: 1100;
            width: 590px;
            padding: 22px;
            max-height: 100vh;
            bottom: -100%;

            &.active {
                bottom: 0%;
            }
        }

        &__title {
            display: flex;
            align-items: center;
            gap: 12px;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 24px;
        }

        &__form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 16px;

            .select.gc-2 {
                grid-column: 1 / 3;
            }
        }

        &__footer {
            display: flex;
            gap: 17px;

            &_submit {
                padding: 12px;
                background: #1E1E1E;
                text-align: center;
                color: #fff;
                font-size: 25px;
                font-weight: 400;
                font-family: "Bebas Neue", sans-serif;
                width: 100%;
            }

            &_clear {
                width: 62px;
                padding: 18px 22px;
                background: #9E9E9E;

                &:hover {
                    background: #1E1E1E;
                }
            }
        }
    }
}

.categorie {

    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 23px;

        &_links {
            display: flex;
            gap: 22px;

            @media (max-width: 768px) {
                padding: 0 22px;
            }

            &_link {
                padding: 15px 40px;
                border-radius: 5px;
                background: #E9E9E9;
                border: 1px solid #0000004D;
                text-transform: uppercase;
                width: fit-content;
                font-size: 16px;
                font-weight: 500;

                &:hover,
                &.active {
                    color: #fff;
                    background: #F62B02;
                }
            }
        }

        &_btns {
            display: flex;
            gap: 10px;

            @media (max-width: 768px) {
                display: none;
            }

            &_btn {
                padding: 8px;
                background: transparent;

                &.active,
                &:hover {
                    background: #0080E5;
                }

                &_icon {
                    display: block;

                    &.active {
                        display: none;
                    }
                }

                &.active &_icon,
                &:hover &_icon {
                    display: none;

                    &.active {
                        display: block;
                    }
                }
            }
        }
    }

    &__wrapper {
        display: grid;

        @media (max-width: 768px) {
            gap: 20px 4px !important;
        }

        &.small {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 60px 40px;
        }

        &.medium {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
        }

        &.big {
            grid-template-columns: 1fr;
            grid-gap: 15px;
        }
    }
}

.productsSlider {

    @media (max-width: 768px) {
        max-width: 590px;
        overflow: hidden;
    }

    &__title {
        @media (max-width: 768px) {
            display: block;
            margin-bottom: 0;
            padding-left: 26px;
            margin-top: 10px;
        }
    }

    &__wrapper {
        @media (max-width: 768px) {
            padding-top: 30px;
            margin-left: 26px;
            min-width: 590px;
        }
    }

    &__btns {
        @media (max-width: 768px) {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .product {

        &.medium,
        &.big {
            display: flex;
            max-width: 100%;

            .product__pic {
                max-width: 260px;
                min-width: 260px;
                height: 230px;
            }

            .product__wrapper {
                padding: 23px 15px 19px 23px;
            }

            .product__desc {
                padding: 0;
                height: auto;
                margin-bottom: 23px;

                &_time {
                    display: block;
                    color: #8E8E8E;
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 7px;
                }
            }
        }

        &.big {
            background: #E9E9E9;
            border-radius: 5px;

            .product__wrapper {
                width: 100%;
                padding: 8px 16px 8px 40px;
                position: relative;
            }

            .product__pic {
                width: 245px;
                min-width: 245px;
                height: 196px;
            }

            .product__desc {
                margin: 0;

                &_name {
                    font-size: 27px;
                    max-width: 400px;
                    margin: 17px 0 12px;
                }

                &_txt {
                    font-size: 22px;
                }

                &_price {
                    position: absolute;
                    top: 40%;
                    right: 15px;

                    &_new {
                        font-size: 42px;

                        .currency {
                            font-size: 24px;
                        }
                    }

                    &_static {
                        font-size: 32px;

                        .currency {
                            font-size: 24px;
                        }
                    }
                }
            }

            .product__btn {
                width: 245px;
                position: absolute;
                bottom: 15px;
                right: 15px;
            }
        }
    }
}