@import '../main';
@import '../footer';
@import '../navbar';
@import '../crumbs';
@import '../products';
@import '../articles';



.header {
    max-width: 1700px;
    margin: 0 auto;
    padding: 174px 15px 0;

    .crumbs {
        padding: 24px 0;
    }

    @media (max-width: 768px) {
        padding: 94px 26px 0;
    }
}

.articles {
    padding-bottom: 100px;

    @media (max-width: 768px) {
        padding-bottom: 55px;
    }
}

.navbar {
    z-index: 1300;
}

.scrolledActive {

    @media (min-width: 768px) {
        &.navbar {
            top: -40px;

            .bottom {
                padding: 8px 15px;
            }

            .navbar__logo_img {
                width: 100px;
            }
        }

        &.singleProduct__fixed {
            top: 78px;
        }
    }

    &.singleProduct__fixed {
        bottom: 0;
    }
}

.footer {

    @media (max-width: 768px) {
        margin-bottom: 127px;
    }
}

.singleProduct {
    margin-bottom: 80px;

    &__wrapper {
        width: 100%;
        max-width: 1700px;
        padding: 0 15px;
        display: grid;
        margin: 0 auto;
        grid-template-columns: 98fr 69fr;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }

    &__header {
        display: grid;
        grid-template-columns: 98fr 69fr;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        position: relative;
        margin-bottom: 16px;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            order: 2;
            margin-bottom: 36px;
            padding: 0 26px;
        }

        &_title {
            font-weight: 600;
            font-size: 24px;
            color: #0080E5;
            max-width: 700px;

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        &_price {
            padding-left: 40px;

            @media (max-width: 768px) {
                padding: 0;
                position: relative;
            }

            &_all {
                font-size: 24px;
                font-weight: 700;
                color: #F62B02;
                margin-bottom: 13px;

                @media (max-width: 768px) {
                    margin-bottom: 5px;
                }
            }

            &_mounthly {
                font-size: 20px;
                font-weight: 400;

                b {
                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }

        &_currency {
            position: absolute;
            background: #efefef;
            border: 1px solid #787878;
            border-radius: 5px;
            right: 25px;
            top: 0;

            @media (max-width: 768px) {
                right: 26px;
                top: 0;
            }

            &_btn {
                width: 100%;

                &_txt {
                    display: block;
                    padding: 4px 18px;
                    font-size: 18px;
                    font-weight: 400;
                    color: #00000080;
                    width: 100%;
                    text-align: center;

                    &:hover {
                        color: #fff;
                        background: #787878;
                    }
                }



                &.active &_icon {
                    transform: rotate(180deg);
                }

                &_icon {
                    position: absolute;
                    right: -25px;
                    width: 15px;
                    top: 11px;
                }
            }

            &_btns {
                overflow: hidden;
                max-height: 0;

                &_btn {
                    padding: 4px 18px;
                    font-size: 18px;
                    font-weight: 400;
                    color: #00000080;
                    width: 100%;
                    text-align: center;

                    &.active {
                        display: none;
                    }

                    &:hover {
                        color: #fff;
                        background: #787878;
                    }
                }
            }
        }
    }

    &__gallery {
        max-width: 980px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-bottom: 70px;
        position: relative;

        @media (max-width: 1296px) {
            max-width: 720px;
            margin-bottom: 50px;
        }

        @media (max-width: 768px) {
            order: 1;
            margin-bottom: 14px;
        }

        .mySwiper2 {
            margin-bottom: 6px;

            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    height: 100%;
                    max-height: 590px;
                    object-fit: contain;
                }
            }
        }

        .mySwiper {
            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 5px;
                height: 120px;
                cursor: pointer;
                position: relative;

                @media (max-width: 768px) {
                    height: 80px;
                }

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #00000080;
                    opacity: 0;
                    transition: .3s;
                }

                &-thumb-active {

                    &::before {
                        opacity: 1;
                        transition: .3s;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &_wishlist {
            position: absolute;
            top: 16px;
            right: 16px;
            padding: 10px;
            background: #fff;
            border-radius: 5px;
            z-index: 1090;

            &_icon {

                &.active {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    opacity: 0;
                }
            }

            &.active &_icon,
            &:hover &_icon {
                opacity: 0;

                &.active {
                    opacity: 1;
                }
            }

            &:active &_icon.active {
                transform: scale(1.2);
            }
        }
    }

    &__fixed {
        background: #fff;
        box-shadow: 0px 4px 4px 0px #00000040;
        z-index: 1200;
        position: fixed;
        width: 100%;
        height: fit-content;

        @media (min-width: 768px) {
            top: -50px;
        }

        @media (max-width: 768px) {
            bottom: -100%;
        }

        &_wrapper {
            width: 100%;
            max-width: 1700px;
            margin: 0 auto;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 768px) {
                flex-direction: column-reverse;
                padding: 10px 26px;
            }
        }

        &_desc {
            max-width: 50%;

            @media (max-width: 768px) {
                max-width: 100%;
            }

            &_title {
                font-size: 24px;
                color: #0080E5;
                margin-bottom: 10px;
                font-weight: 600;

                display: -webkit-box;
                -webkit-line-clamp: 1;
                /* <-- сколько строк оставить */
                -webkit-box-orient: vertical;
                overflow: hidden;

                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }

            &_price {
                color: #F62B02;
                font-size: 22px;
                font-weight: 600;

                @media (max-width: 768px) {
                    font-size: 18px;
                }
            }
        }

        &_social {
            display: flex;
            gap: 25px;

            @media (max-width: 768px) {
                display: grid;
                width: 100%;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                margin-bottom: 8px;
            }

            a {
                width: 180px;
                padding: 10px;

                @media (max-width: 768px) {
                    width: 100%;
                    padding: 8px 12px;

                    &.gc-2 {
                        grid-column: 1 / 2;
                    }
                }
            }
        }
    }

    &__desc {
        grid-column: 1 / 2;
        grid-row: 3 / 4;

        &_content {
            max-height: 130px;
            overflow: hidden;
        }

        @media (max-width: 768px) {
            order: 4;
            padding: 0 26px;
        }

        &_title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 42px;
        }

        &_pr {
            font-size: 18px;
            font-weight: 400;
        }

        &_link {
            width: 300px;
            text-align: center;
            background: #BCDBF3;
            border-radius: 5px;
            margin-top: 30px;
            font-size: 19px;
            font-weight: 500;
            color: #0080E5;
            padding: 20px;

            @media (max-width: 768px) {
                width: 100%;
            }

            &:hover {
                background: #0080E5;
                color: #BCDBF3;
            }
        }
    }

    &__ttx {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
        padding-left: 40px;

        @media (max-width: 1296px) {
            padding-left: 20px;
        }

        @media (max-width: 768px) {
            order: 3;
            padding: 0;
            margin-bottom: 56px;
        }

        &_social {
            padding: 19px 22px;
            border-radius: 5px;
            background: #E8E4E4;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px 21px;
            margin-bottom: 14px;

            @media (max-width: 768px) {
                display: none;
            }

            &_link {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 13px;
                border-radius: 6px;
                padding: 16px;

                &:hover &_icon {
                    transform: scale(1.2);
                }

                &.green {
                    background: #48C058;
                    color: #fff;
                }

                &.black {
                    background: #1E1E1E;
                    color: #fff;
                }

                &.transparent {
                    border: 2px solid #0080E5;
                }

                &.gc-2 {
                    grid-column: 1 / 3;
                }
            }
        }

        &_link {
            padding: 25px 22px;
            border-radius: 5px;
            background: #E8E4E4;
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 19px;
            font-weight: 400;
            color: #1E1E1E;
            margin-top: 15px;

            @media (max-width: 768px) {
                margin: 20px auto 0;
                max-width: 540px;
            }

            &:hover &_icon {
                transform: scale(1.2);
            }
        }

        &_info {
            padding: 19px 22px;
            border-radius: 5px;
            background: #E8E4E4;

            &_title {
                margin-bottom: 24px;
                font-size: 16px;
                font-weight: 400;
            }

            &_links {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 6px;
                margin-bottom: 10px;

                &_link {
                    border-radius: 4px;
                    padding: 20px;
                    background: #D9D9D9;
                    font-size: 14px;
                    font-weight: 400;
                    color: #444444;
                    text-align: center;

                    &:hover &_icon {
                        transform: scale(1.2);
                    }

                    &_icon {
                        margin: 0 auto 8px;
                        height: 26px;
                    }
                }
            }

            &_list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
                margin-bottom: 10px;

                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                    gap: 0;
                }

                &_el {

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        border-bottom: 1px solid #0000001A;
                        padding: 12px 0;

                        span,
                        a {
                            font-size: 14px;
                            font-weight: 400;
                        }

                        a {
                            font-weight: 500;
                            text-decoration: underline;
                        }
                    }
                }
            }

            &_acc {

                &_el {

                    &_btn {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        padding: 15px 0;

                        &:hover &_icon {
                            background: transparent;
                            border-color: #444;
                        }

                        &_icon {
                            padding: 8px 6px;
                            border-radius: 50%;
                            background: #D9D9D9;
                            border: 1px solid transparent;
                        }
                    }

                    &:not(:last-child) &_btn {
                        border-bottom: 1px solid #00000033;
                    }

                    &_content {
                        max-height: 0;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}