@import '../main';
@import '../footer';
@import '../navbar';
@import '../news';
@import '../headerWrapper';
@import '../ads';
@import '../articles';
@import '../services';
@import '../contactUs';
@import '../products';
@import '../crumbs';
@import '../brands';
@import '../select';


.header {
    padding: 174px 0 0;

    @media (max-width: 768px) {
        padding-top: 95px;
    }

    .crumbs {
        padding: 24px 0;
    }

    .brands {
        display: none;


        @media (max-width: 768px) {
            display: block;
            padding: 0 0 30px;
            margin-top: -10px;

            .seeAll {
                width: 100%;
                border-radius: 2px;
                background: #F62B02;
                color: #fff;
                padding: 22px;
                text-align: center;
            }
        }
    }

    &__brands {
        width: 100%;
        max-width: 1700px;
        margin: 0 auto;
        padding: 0 15px;

        &_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: -135px;
            background: #E8E4E4;
            padding-right: 15px;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                flex-direction: column;
                padding: 0;
                margin: 0;
                background: none;
            }

            &_btns {
                display: flex;
                gap: 22px;

                @media (max-width: 768px) {
                    gap: 25px;
                    margin-top: 18px;
                }

                &_btn {
                    border: 1px solid #0000004D;
                    background: #e9e9e9;
                    padding: 15px 35px;
                    border-radius: 5px;
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;

                    @media (max-width: 768px) {
                        padding: 24px 63px;
                        border-radius: 8px;
                        font-size: 26px;
                    }

                    &:hover,
                    &.active {
                        background: #F62B02;
                        color: #e9e9e9;
                    }
                }
            }

            &_wrapper {
                width: 100%;
                position: relative;
                max-width: 1110px;
                background: #F62B02;
                padding-left: 140px;

                @media (max-width: 768px) {
                    padding-left: 26px;
                    max-width: 510px;
                    margin-right: auto;
                    margin-left: -16px;
                }
            }

            &_title {
                color: #EFEFEF;
                font-size: 75px;
                font-weight: 900;

                @media (max-width: 768px) {
                    font-size: 36px;
                }
            }

            &_img {
                position: absolute;
                width: 240px;
                right: -100px;
                top: -19px;

                @media (max-width: 768px) {
                    width: 116px;
                    right: -50px;
                    top: -10px;
                }
            }
        }

        &_slider {
            padding: 24px;
            border-radius: 12px;
            background: #E8E4E4;

            @media (max-width: 768px) {
                display: none;
            }

            &_seeAll {
                margin: 20px auto 0;
                width: fit-content;
                background: #F62B02;
                padding: 12px 28px;
                color: #EFEFEF;
                font-size: 17px;
            }

            &_title {
                margin-bottom: 24px;
                font-size: 16px;
                font-weight: 500;
            }

            &_el {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-gap: 16px 20px;
            }

            &_link {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                gap: 15px;
                background: #fff;
                padding: 16px 24px;

                &:hover &_img {
                    transform: scale(1.1);
                }

                span {
                    font-size: 22px;
                    font-weight: 700;
                    text-transform: uppercase;

                    @media (max-width: 768px) {
                        font-size: 14px;
                        text-align: center;
                        white-space: nowrap;
                        display: block;
                    }
                }

                &_img {
                    object-fit: contain;
                    width: 90px;
                    height: 90px;
                }
            }

            &_btns {
                position: absolute;
                top: 14px;
                right: 13px;
                display: flex;
                gap: 9px;

                @media (max-width: 768px) {
                    top: 4px;
                    right: 26px;
                }

                &_btn {
                    width: 43px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0.74px solid #0000004D;

                    @media (max-width: 768px) {
                        width: 58px;
                        height: 48px;
                    }

                    &:hover {
                        border-color: #F62B02;
                    }

                    &.next img {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}


.problemFix {
    padding: 75px 15px 40px;

    @media (max-width: 768px) {
        padding: 30px 0;
    }

    &__wrapper {
        width: 100%;
        max-width: 1592px;
        margin: 0 auto;
        border-radius: 20px;
        background: #E8E4E4;
        border: 1px solid #72727233;
        padding: 45px 35px 45px;

        @media (max-width: 768px) {
            padding: 45px 50px 30px;
            padding-right: 0;
            border-radius: 0;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        color: #0B2543;
        padding-left: 15px;
        margin-bottom: 45px;
    }

    &__accs {

        &_item {
            display: none;

            &.active {
                display: block;
            }
        }

        .problemFixSlider {
            position: relative;
            margin: 0 110px;
            padding-bottom: 55px;

            @media (max-width: 768px) {
                margin: 0;
                padding-right: 50px;
                padding-bottom: 35px;
            }

            .swiper-pagination {
                bottom: 0;

                &-bullet {
                    margin: 0 7px;
                    width: 13px;
                    background: #B4B4B4;
                    height: 13px;
                    opacity: 1;

                    @media (max-width: 768px) {
                        margin: 0 5px;
                        width: 8px;
                        height: 8px;
                    }

                    &-active {
                        background: #F62B02;
                        opacity: 1;
                    }
                }
            }

            &__btns {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transform: translate(0, -50%);

                @media (max-width: 768px) {
                    display: none;
                }

                &_btn {
                    width: 43px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0.74px solid #0000004D;

                    @media (max-width: 768px) {
                        width: 58px;
                        height: 48px;
                    }

                    &:hover {
                        border-color: #F73004;
                    }

                    &.next img {
                        transform: rotate(180deg);
                    }
                }
            }

            &__el {
                padding: 30px 10px 15px;
                border-radius: 5px;
                background: #F5F3F3;

                @media (max-width: 768px) {
                    padding: 20px 30px 10px;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                &_img {
                    margin: 0 auto 18px;
                    max-width: 100%;

                    @media (max-width: 768px) {
                        margin-bottom: 10px;
                    }
                }

                &:hover img {
                    transform: scale(1.1);
                }

                &_title {
                    font-size: 22px;
                    font-weight: 400;
                    color: #0B2543;
                    text-align: center;

                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }
        }

        &_item {
            position: relative;
        }

        &_btns {
            display: flex;
            border-bottom: 3px solid #CBCBCB;
            margin-bottom: 65px;

            @media (max-width: 768px) {
                margin-bottom: 40px;
                margin-left: -25px;
                max-width: 562px;
                overflow-x: auto;
                overflow-y: hidden;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            &_btn {
                padding: 12px 28px;
                border-bottom: 5px solid transparent;
                margin-bottom: -2px;
                font-size: 24px;
                font-weight: 400;
                height: 60px;
                white-space: nowrap;
                min-width: fit-content;

                &.active {
                    font-size: 26px;
                    font-weight: 500;
                    border-color: #F62B02;
                }

                &:hover {
                    border-color: #F62B02;
                }
            }
        }
    }
}