@import '../main';
@import '../footer';
@import '../navbar';
@import '../news';
@import '../headerWrapper';
@import '../ads';
@import '../articles';
@import '../services';
@import '../contactUs';
@import '../products';
@import '../brands';
@import '../productSlider';
@import '../select';




.header {
    margin-top: 180px;

    @media (max-width: 768px) {
        margin-top: 130px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        width: 100%;
        max-width: 1700px;
        margin: 0 auto;
        padding: 20px 15px;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 0;
            padding: 0;
        }
    }

    &__scroll {
        @media (max-width: 768px) {
            display: flex;
            justify-content: center;
            max-width: 590px;
            padding: 20px 0;
            overflow: hidden;
        }
    }

    &__title {
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;

        @media (max-width: 768px) {
            font-size: 26px;
            font-weight: 900;
        }
    }

    .headerCategoriesSmall {
        display: none;

        @media (max-width: 768px) {
            display: block;
            margin-top: 15px;
            margin-bottom: -10px;

            &__wrapper {
                display: flex;
                justify-content: center;
                gap: 12px;
            }

            &__btn {
                padding: 8px 12px;
                border-bottom: 6px solid transparent;
                font-size: 18px;
                color: #7C7C7CB2;
                line-height: 24px;
                font-weight: 400;
                max-width: 175px;
                min-width: 175px;
                text-align: center;

                &.active {
                    border-bottom: 6px solid #000;
                    color: #000;
                    font-weight: 600;
                    line-height: 24px;
                    font-size: 20px;
                }
            }
        }
    }

    &__categories {
        margin-bottom: -8px;

        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 8px;
            position: relative;
            left: -445px;
        }

        &_el {
            width: 100%;
            padding-top: 8px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 768px) {
                max-width: 490px;
                min-width: 490px;
                height: 260px;
            }

            &.orange {
                background: linear-gradient(113.73deg, #F72E04 0%, #FF7518 100%);
            }

            &.black {
                background: linear-gradient(113.8deg, #030208 0%, #2A2A2A 100%);
            }

            &.blue {
                background: linear-gradient(113.73deg, #0383E8 0%, #239EFD 100%);
            }

            &_title {
                text-align: center;
                color: #fff;
                font-size: 62px;
                font-weight: 700;
                text-transform: uppercase;

                @media (max-width: 1296px) {
                    font-size: 38px;
                }

                @media (max-width: 768px) {
                    font-size: 52px;
                }
            }

            &_img {
                display: block;
                margin: 0 auto;
                max-width: 100%;

                @media (max-width: 1296px) {
                    max-height: 70%;
                }

                @media (max-width: 768px) {
                    height: 175px;
                }
            }

            &:hover &_img {
                transform: scale(1.1);
            }
        }
    }
}



.spares {
    margin: 32px 0 75px;

    &__container {
        width: 100%;
        max-width: 1676px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__title {
        font-weight: 500;
        margin-bottom: 32px;
        padding-left: 21px;

        @media (max-width: 768px) {
            font-size: 20px;
            font-weight: 700;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 27px 18px;
        margin-bottom: 36px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__link {
        background: #E8E4E4;
        border-radius: 2px;
        padding: 3px 18px 23px;
        position: relative;

        @media (max-width: 1296px) {
            padding: 3px 10px 23px;
        }

        &::before {
            content: '';
            display: block;
            width: calc(100% - 36px);
            height: 1px;
            border-bottom: 1.89px solid #A2A2A24D;
            position: absolute;
            bottom: 66px;
            left: 18px;
            z-index: 1010;
        }

        &::after {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            background: #F62B02;
            position: absolute;
            left: 50%;
            bottom: 61px;
            z-index: 1020;
            transform: translate(-50%, 0);
        }

        &:hover &_img {
            transform: scale(1.1);
        }

        &_img {
            margin: 0 auto;
            width: 155px;
            height: 155px;
            object-fit: contain;
            margin-bottom: 44px;

            @media (max-width: 1296px) {
                width: 100px;
                height: 100px;
            }
        }

        &_name {
            display: block;
            font-size: 17px;
            text-align: center;
            font-weight: 500;
        }
    }
}


.callAction {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(91.12deg, #000000 -2.27%, #666666 173.28%);
    max-height: 224px;

    @media (max-width: 768px) {
        max-height: 230px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
        max-width: 1630px;
        margin: 0 auto;
        padding: 0 15px;

        @media (max-width: 1296px) {
            justify-content: center;
        }

        @media (max-width: 768px) {
            max-width: 590px;
            overflow: hidden;
            position: relative;
            padding: 30px 25px;
            justify-content: flex-start;
        }
    }

    &__img {
        margin-right: 60px;

        @media (max-width: 1296px) {
            margin: 0;
        }

        @media (max-width: 768px) {
            max-height: 200px;
            position: absolute;
            right: 0;
        }
    }

    &__desc {

        @media (max-width: 768px) {
            max-width: 50%;
        }

        &_title {
            font-size: 39px;
            font-weight: 800;
            margin-bottom: 18px;
            color: #fff;

            @media (max-width: 768px) {
                margin-bottom: 25px;
                font-size: 29px;
            }
        }

        &_link {
            padding: 16px 25px;
            width: fit-content;
            background: #0080E5;
            color: #fff;
            font-weight: 500;

            &:hover {
                background: #005fa8;
            }
        }
    }
}






.oil {
    padding: 52px 0 100px;

    @media (max-width: 768px) {
        padding: 0 0 60px;
    }

    &__container {
        width: 100%;
        max-width: 1626px;
        margin: 0 auto;
        padding: 0 15px;

        @media (max-width: 768px) {
            padding: 0 26px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-gap: 22px 17px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px 18px;
            margin-bottom: 50px;
        }
    }

    .seeMore {
        display: none;

        @media (max-width: 768px) {
            display: flex;
        }
    }

    &__link {
        display: block;
        padding: 21px 10px;
        border: 1px solid #0000004D;

        &_img {
            height: 34px;
            max-width: 90%;
            object-fit: contain;
        }

        &:hover &_img {
            transform: scale(1.05);
        }
    }

    &__title {
        font-weight: 500;
        margin-bottom: 33px;

        @media (max-width: 768px) {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 41px;
        }
    }
}